/* -------------------------------------------------
   FOOTER (unchanged except minor cleanup)
--------------------------------------------------- */

.footer-main {
    width: 100%;
    padding: 60px 0 20px;
    background-color: #141414;
    color: #ffffff;
}

.wrapper-main {
    width: 1100px;
    margin: 0 auto;
}

.footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-testemoni {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-testemoni img {
    width: 60%;
    border-radius: 30%;
}

.footer-testemoni p {
    text-align: center;
    padding: 20px 20px 0;
}

.gtouch {
    display: flex;
    padding: 10px;
    margin: 20px auto;
    border: 4px solid rgb(93, 232, 28);
    font-weight: 900;
}

.footer-sitemap {
    flex-basis: 100%;
    display: flex;
    gap: 40px;
}

.footer-sitemap ul {
    list-style: none;
}

.footer-sitemap ul:nth-child(1) {
    border-left: 4px solid goldenrod;
    padding-left: 20px;
}

.footer-sitemap p {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: cursive;
    margin-right: 30px;
}

.copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    color: aqua;
    background-color: #231895;
    font-weight: 900;
    padding: 10px 0;
}