/* HERO SECTION */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    padding: 0 80px;
    position: relative;

    /* Background Image */
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* bottom line */
    border-bottom: 6px solid rgb(109, 22, 91);
}


/* Left text section */
.main-left {
    width: 30%;
    z-index: 3;
}

.main-left h1 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
}

.main-left h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
}

.main-left p {
    color: #ddd;
    margin-top: 15px;
    font-size: 14px;
}

.main-left a {
    display: inline-block;
    background: #ff3ea5;
    color: #fff;
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.main-left a:hover {
    background: #ff69c5;
}

/* Portrait Image */
.main-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-center img {
    height: 100%;      /* FULL HEIGHT OF HERO */
    width: auto;       /* Maintain aspect ratio */
    object-fit: cover; /* Perfect scaling */
}

/* Right Quote */
main .hero-quotes {
    width: 25%;
    color: #fff;
}

.hero-quotes p {
    margin-bottom: 30px;
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    line-height: 1.6;
}

/* Pink Border lines */
.hero-quotes p::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: #ff3ea5;
    border-radius: 4px;
}

/* Categories styling */

.index-category {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.index-category-box {
    width: 240px;
    height: 240px;
    background-color: #ff3ea5;

}

.index-category-box h3 {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.index-category-box:nth-child(1) {
    background-image: url(../img/cat10.jpg);
}

.index-category-box:nth-child(2) {
    background-image: url(../img/cat30.jpg);
}

.index-category-box:nth-child(3) {
    background-image: url(../img/cat30.jpg);
}

.index-category-box:nth-child(4) {
    background-image: url(../img/cat40.jpg);
}

.index-category-box:nth-child(1),
.index-category-box:nth-child(2), 
.index-category-box:nth-child(3), 
.index-category-box:nth-child(4) {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}