main {
    width: 100%;
    height: 30vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 40px;

}

.main-left {

}

.main-right {

}