body {
    background-color: #393535;
}

.header-main {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    background-color: blue;
    display: flex;
    padding-left: 60px;
}

.header-main-logo img {
    height: 30px;
    align-self: center;
}

.header-main-nav {
    width: fit-content;
    height: 100%;
    background-color: orange;
}

.header-main-nav ul {
    list-style: none;
    
}

.header-main-nav ul li {
    display: inline;
    float: left;

}

.header-main-nav ul li a{
    padding: 0 10px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;    

}


.header-main-sm {
    width: fit-content;
    height: 100%;
    background-color: red;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-main-sm-fb {
    width: 20px;
    height: 20px;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm-in {
    width: 20px;
    height: 20px;
    background-image: url(../img/insta.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}